<html>
<head>
</head>
<style>

        body{
             padding: 150px;
            background-color: aliceblue;
            color: blue;
            font-family: cursive;
        }
        input
        {
            border-radius: 50px;
            background-color: aliceblue;
            color: blue;
            font-family: inherit;
        }
        h1
        {
          color: blue;
          font-family: cursive;
        }

    </style>
<body style="background-image: url(otp1.jpg);background-size:100% 100%;opacity:0.5;no-repeat">
	<div style="text-align:center">
    <h1>THE CIPHER: </h1>
    <h1>{{ txt_ct }}</h1>
    <br><br><br><br><br>
    <h1>THE DECRYPETED TEXT:</h1>
    <h1>{{d_txt}}</h1>
</div>
</body>
</html>
