<html>
<head>
</head>
<style>

        body{
            background-color: aliceblue;
            color: white;
            font-family: cursive;
        }
        input
        {
            border-radius: 50px;
            background-color: aliceblue;
            color: blue;
            font-family: inherit;
        }

    </style>
<body style="background-image: url(otp1.jpg);background-size:100% 100%;opacity:0.5;no-repeat">
<form action="http://localhost:5000/">
<center>
<table cellpadding="20" cellspacing="1" border="0" width="70%">
                    <tr><td colspan="2"></td></tr>
                     <tr><td colspan="2"></td></tr>
					 <tr><td colspan="4" align="center"><marquee><h2><font color="white" size="30"><b><i>ONE TIME PAD</b></i></h2></marquee></td></tr>
</table>
              <div class="form-group", style="text-align:center">
                <label>ENTER THE PLAIN TEXT</label>
               <input type="text" name="plain_txt"></td><td width="10%"><br><br><br>
               </div>

<div style="text-align:center">
	<input type="submit" value="SUBMIT">
</div>
</center>
    </form>
</body>
</html>
